<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">{{ site.header['clients'][page.lang] }}</h2>
                </div>
            </div>
            <div class="clients-row">
                {% for client in site.clients['list'] %}
                <div class="clientbox">
                    <a href="{{ client.url }}" target="_blank">
                        <img src="img/logos/{{ client.pic }}" class="img-responsive img-centered" alt="{{ client.name }}">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </aside>